#Header { 
    font-family: 'Girassol', cursive;
    color: rgb(255, 6, 255);
    font-size: 25px;
    margin: 0px;
    padding: 3px;}
.definisi{ 
    color : rgb(129, 0, 250);
    font-family: 'Goblin One', cursive;
    padding: 100px;
    margin: 10px;"
}